.orders-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.expandable-orders-container {
  align-self: center;
  width: 80%;
  max-width: 768px;
  flex-grow: 1;
}

ul {
  margin: 0;
  padding-inline-start: 0;
}
