.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.content {
  height: 100%;
  width: 97vw;
}
