.order-detail-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.order-detail-container p {
  margin: 0;
}

.filler {
  flex-grow: 1;
  background-image: linear-gradient(
    to right,
    #000 20%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: 5px 16px;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}
