.navbar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.navbar a {
  text-decoration: none;
  font-weight: bold;
  padding: 12px 16px;
  border-radius: 4px;
  color: #545e6f;
  background-color: #f0f0f0;
  transition: all 0.3s ease;
}

.navbar a.active {
  color: #fff;
  background-color: #7600dc;
}
