[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
psycopg2-binary = "*"
pillow = "*"
django-rest-framework = "*"
django-nested-inline = "*"
django-phonenumber-field = "*"
django-phonenumbers = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
djangorestframework-camel-case = "*"
django-cleanup = "*"
requests = "*"
gunicorn = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
