.orders-sorting-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-bottom: 15px;
}

.orders-sorting-container button {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-weight: bold;
  font-size: large;
  border: 0;
  cursor: pointer;
  margin: 0;
  text-align: center;
}
