.modal-message-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 90vh;
  background-color: whitesmoke;
  padding: 30px;
  border-radius: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.modal-message-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  font-size: large;
}

.modal-message-content {
  font-size: medium;
  flex-grow: 1;
}

.product-amount-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
}

.product-amount-change {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.product-amount-change p {
  margin: 0;
  min-width: 2em;
  text-align: center;
}
